<div class="row-auto mr-auto d-flex flex-column">
  <h4 style="display: inline; vertical-align: middle;">
    {{response.status}}
  </h4>
  <h4 style="display: inline; vertical-align: middle;">
    {{response.message}}
  </h4>
  {{response.formatCurrentTime}}
</div>